In [261]:
import pandas as pd
df = pd.read_csv('filtered_data_residential.csv')
df.describe()
#1. Dropped duplicates based on property ID')
df.drop_duplicates(subset=['Property ID'], keep='first', inplace=True)
#2. Dropped the lines without price## 
df.dropna(subset=['Price'], inplace=True)

In [262]:
missing_data_summary = df.isnull().sum()
missing_columns = missing_data_summary[missing_data_summary > 0]
print(missing_columns)

Region                10
Province              10
District              10
Street              1193
LivingArea           460
KitchenType         1790
Terrace_Area        3172
Garden_Area         4702
FacadeCount         1539
FloorCount          2243
ConstructionYear    1833
StateBuilding       1308
LandWidth           3149
LandSurface         3149
EPCScore             827
dtype: int64

In [263]:
#3. Drop lines with empty region / province (they have a postcode > 4 digits as well)
df = df.dropna(subset=['Region'])
df.info()
#Keep only values with residential_sales as price_type)
df = df[df['PriceType'] == 'residential_sale']
# Convert df type int64 > Int64
df = df.astype({col: 'Int64' for col in df.select_dtypes('int64').columns})

<class 'pandas.core.frame.DataFrame'>
Index: 5810 entries, 0 to 5819
Data columns (total 29 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Property ID       5810 non-null   int64
 1   Region            5810 non-null   object
 2   Province          5810 non-null   object
 3   District          5810 non-null   object
 4   Locality          5810 non-null   object
 5   PostalCode        5810 non-null   int64
 6   Street            4622 non-null   object
 7   Price             5810 non-null   int64
 8   PriceType         5810 non-null   object
 9   PropertyType      5810 non-null   object
 10  PropertySubtype   5810 non-null   object
 11  TypeSale          5810 non-null   object
 12  BedroomCount      5810 non-null   float64
 13  LivingArea        5352 non-null   float64
 14  KitchenType       4027 non-null   object
 15  Furnished         5810 non-null   int64
 16  Open_fire         5810 non-null   int64
 17  SwimmingPool      5810 non-null   int64
 18  Terrace_Area      2645 non-null   float64
 19  Garden_Area       1115 non-null   float64
 20  FacadeCount       4272 non-null   float64
 21  FloorCount        3575 non-null   float64
 22  ConstructionYear  3983 non-null   float64
 23  StateBuilding     4503 non-null   object
 24  LandWidth         2664 non-null   float64
 25  LandSurface       2664 non-null   float64
 26  EPCScore          4993 non-null   object
 27  LifeAnnuitySale   5810 non-null   int64
 28  ScrapedURL        5810 non-null   object
dtypes: float64(9), int64(7), object(13)
memory usage: 1.3+ MB

In [264]:
missing_data_summary = df.isnull().sum()
missing_columns = missing_data_summary[missing_data_summary > 0]
print(missing_columns)

Street              1188
LivingArea           406
KitchenType         1760
Terrace_Area        3108
Garden_Area         4637
FacadeCount         1481
FloorCount          2182
ConstructionYear    1772
StateBuilding       1254
LandWidth           3114
LandSurface         3114
EPCScore             798
dtype: int64

In [265]:
##Extra Variables = HasTerrace, HasGarden"
df['HasTerrace'] = (df['Terrace_Area'] > 0).astype(int)
df['HasGarden'] = (df['Garden_Area'] > 0).astype(int)

In [266]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5752 entries, 1 to 5819
Data columns (total 31 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Property ID       5752 non-null   Int64
 1   Region            5752 non-null   object
 2   Province          5752 non-null   object
 3   District          5752 non-null   object
 4   Locality          5752 non-null   object
 5   PostalCode        5752 non-null   Int64
 6   Street            4564 non-null   object
 7   Price             5752 non-null   Int64
 8   PriceType         5752 non-null   object
 9   PropertyType      5752 non-null   object
 10  PropertySubtype   5752 non-null   object
 11  TypeSale          5752 non-null   object
 12  BedroomCount      5752 non-null   float64
 13  LivingArea        5346 non-null   float64
 14  KitchenType       3992 non-null   object
 15  Furnished         5752 non-null   Int64
 16  Open_fire         5752 non-null   Int64
 17  SwimmingPool      5752 non-null   Int64
 18  Terrace_Area      2644 non-null   float64
 19  Garden_Area       1115 non-null   float64
 20  FacadeCount       4271 non-null   float64
 21  FloorCount        3570 non-null   float64
 22  ConstructionYear  3980 non-null   float64
 23  StateBuilding     4498 non-null   object
 24  LandWidth         2638 non-null   float64
 25  LandSurface       2638 non-null   float64
 26  EPCScore          4954 non-null   object
 27  LifeAnnuitySale   5752 non-null   Int64
 28  ScrapedURL        5752 non-null   object
 29  HasTerrace        5752 non-null   int32
 30  HasGarden         5752 non-null   int32
dtypes: Int64(7), float64(9), int32(2), object(13)
memory usage: 1.4+ MB

In [267]:
unique_counts = df.nunique()
print(unique_counts)
df = df.astype({col: 'Int64' for col in df.select_dtypes('int64').columns})

Property ID         5752
Region                 3
Province              11
District              43
Locality             999
PostalCode           610
Street              3111
Price                917
PriceType              1
PropertyType           2
PropertySubtype       23
TypeSale               1
BedroomCount          21
LivingArea           496
KitchenType            8
Furnished              2
Open_fire              2
SwimmingPool           2
Terrace_Area         104
Garden_Area          299
FacadeCount            7
FloorCount            30
ConstructionYear     161
StateBuilding          6
LandWidth             64
LandSurface         1010
EPCScore               9
LifeAnnuitySale        1
ScrapedURL          5752
HasTerrace             2
HasGarden              2
dtype: int64

In [268]:
df.head()

,Property ID,Region,Province,District,Locality,PostalCode,Street,Price,PriceType,PropertyType,...,FloorCount,ConstructionYear,StateBuilding,LandWidth,LandSurface,EPCScore,LifeAnnuitySale,ScrapedURL,HasTerrace,HasGarden
1,20226422,Brussels,Brussels,Brussels,Woluwe-Saint-Pierre,1150,Avenue Edmond Parmentier,1375000,residential_sale,HOUSE,...,3.0,1918.0,GOOD,0.0,550.0,G,0,https://www.immoweb.be/en/classified/house/for...,0,0
2,11445541,Brussels,Brussels,Brussels,Bruxelles,1020,Avenue De La Bugrane - Stalkruidlaan,1000000,residential_sale,HOUSE,...,2.0,NaN,GOOD,0.0,517.0,E,0,https://www.immoweb.be/en/classified/villa/for...,1,1
3,20093183,Brussels,Brussels,Brussels,Forest,1190,Place Saint-Denis - Sint-Denijsplein,565000,residential_sale,HOUSE,...,3.0,1903.0,TO_BE_DONE_UP,7.0,250.0,G,0,https://www.immoweb.be/en/classified/mixed-use...,1,1
4,20240551,Flanders,Antwerp,Antwerp,Wilrijk,2610,Vaderlandstraat,410000,residential_sale,HOUSE,...,2.0,1945.0,JUST_RENOVATED,0.0,139.0,NaN,0,https://www.immoweb.be/en/classified/apartment...,0,1
5,20240549,Wallonie,Luxembourg,Neufchâteau,WELLIN,6920,Rue Houchettes,219000,residential_sale,HOUSE,...,NaN,1850.0,NaN,11.0,1252.0,E,0,https://www.immoweb.be/en/classified/house/for...,0,1

In [269]:
columns_to_convert = ['Terrace_Area', 'Garden_Area', 'FacadeCount', 'FloorCount', 'ConstructionYear']

df[columns_to_convert] = df[columns_to_convert].apply(lambda x: x.round().astype('Int64'))

df.describe()

,Property ID,PostalCode,Price,BedroomCount,LivingArea,Furnished,Open_fire,SwimmingPool,Terrace_Area,Garden_Area,FacadeCount,FloorCount,ConstructionYear,LandWidth,LandSurface,LifeAnnuitySale,HasTerrace,HasGarden
count,5752.0,5752.0,5752.0,5752.000000,5346.000000,5752.0,5752.0,5752.0,2644.0,1115.0,4271.0,3570.0,3980.0,2638.000000,2638.000000,5752.0,5752.000000,5752.000000
mean,19837096.194367,3354.307371,482822.03112,2.790508,162.310138,0.031989,0.050591,0.016342,19.542738,343.156054,2.578319,4.979272,1972.766332,4.411676,824.980667,0.0,0.459666,0.193846
std,1809886.569103,3137.248517,539820.713058,1.861514,123.510284,0.175986,0.21918,0.126799,25.889431,989.080187,0.813751,49.397265,39.867198,25.368269,4022.398156,0.0,0.498414,0.395344
min,9528956.0,1000.0,29500.0,0.000000,12.000000,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1753.0,0.000000,0.000000,0.0,0.000000,0.000000
25%,20196354.5,1070.0,249000.0,2.000000,87.000000,0.0,0.0,0.0,6.0,45.0,2.0,2.0,1950.0,0.000000,114.000000,0.0,0.000000,0.000000
50%,20228664.5,1200.0,350000.0,3.000000,130.000000,0.0,0.0,0.0,12.0,100.0,2.0,3.0,1972.0,0.000000,299.500000,0.0,0.000000,0.000000
75%,20240454.25,6000.0,545000.0,3.000000,198.000000,0.0,0.0,0.0,23.0,260.0,3.0,5.0,2010.0,0.000000,686.750000,0.0,1.000000,0.000000
max,20244162.0,9991.0,22500000.0,60.000000,1602.000000,1.0,1.0,1.0,452.0,16361.0,10.0,2934.0,2027.0,750.000000,145163.000000,0.0,1.000000,1.000000

In [270]:
df.to_csv('new_residential_data.csv', index=False)